body {
    text-align: center;
    font-size: medium;
    background-color: lightblue;
  }
  .btn{
    padding: 40px;
    color: black;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: medium;
    font-weight: 550;
  }
  .btn:hover{
    background-color: rgb(224, 224, 224);
    
  }
  p{
    font-size: large;
    font-weight: 500;
  }